sources:  
  /tmp/:                    http://download.osgeo.org/proj/proj-4.8.0.tar.gz
  /tmp/proj-4.8.0/nad:      http://download.osgeo.org/proj/proj-datumgrid-1.5.tar.gz

commands:
  01sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers
  02updateFilePermissions:
    command: sudo chmod -R 777 /tmp/proj-4.8.0/
  03executeCommand:
    command: ./configure
    cwd: /tmp/proj-4.8.0/
  04executeMakeCommand:
    command: make
    cwd: /tmp/proj-4.8.0/
  05executeMakeCommand:
    command: sudo make install
    cwd: /tmp/proj-4.8.0/
  06removeLibraryFiles:
    command: sudo rm -rf proj-4.8.0
    cwd: /tmp/